<div class="main">
<h2>School Admission Form</h2>
<form style="display: grid;">
    <label>First Name :</label><input maxlength="20" pattern="[A-Za-z]" required type="text" placeholder="First Name">
    <label>Second Name :</label><input maxlength="20" required type="text" pattern="[A-Za-z]" placeholder="Last Name">
    <label>Class :</label><input type="text" required placeholder="Class Name">
    <label>Year of Passing :</label><input required type="number" min="2017" placeholder="Enter Year of Pass">
    <label>Percentage of marks :</label><input required type="number" placeholder="Enter Percentage of marks">
    <input type="submit" style="margin-top:15px ;">

</form>
</div>